{{ define "header" }}
<header class="bg-blue-600 text-white p-2 flex items-center">
    <img src="/static/img/logo.png" alt="Logo" class="w-12 h-12 mr-4">
    <nav class="flex-1">
        <ul class="flex space-x-4">
            <li class="border-r border-white/10 px-3"><a href="/auth/list-users" class="text-white">Home</a></li>
            <li><a href="/auth/list-users" class="text-white">Users</a></li>
            <li><a href="/auth/list-roles" class="text-white">Roles</a></li>
            <li><a href="/auth/list-permissions" class="text-white">Permissions</a></li>
            <li><a href="/auth/list-resources" class="text-white">Resources</a></li>
            <li class="border-l border-white/10 px-3"><a href="/auth/show-org" class="text-white">Org</a></li>
            <li><a href="/auth/list-teams" class="text-white">Teams</a></li>
        </ul>
    </nav>
</header>
{{ end }}
