{{ define "page" }}
{{ template "layout" . }}
{{ end }}

{{ define "title" }}
Edit Image Variant
{{ end }}

{{ define "content" }}
<h1>Edit Image Variant</h1>
{{ template "image-variant-form-new" . }}
{{ end }}

{{ define "submenu" }}
{{ template "menu" . }}
{{ end }}
